<?xml version="1.0"?>
<config>
    <modules>
        <Esmart_DefaultSetup>
            <version>1.0.0.1</version>
        </Esmart_DefaultSetup>
    </modules>
    <global>
        <models>
            <esmart_defaultsetup>
                <class>Esmart_DefaultSetup_Model</class>
            </esmart_defaultsetup>
        </models>
        <helpers>
            <esmart_defaultsetup>
                <class>Esmart_DefaultSetup_Helper</class>
            </esmart_defaultsetup>
        </helpers>
        <resources>
            <esmart_defaultsetup_setup>
                <setup>
                    <module>Esmart_DefaultSetup</module>
                </setup>
            </esmart_defaultsetup_setup>
        </resources>
    </global>
    <default>
        <esmart_setup>
            <roles>
                <esmart_support>
                    <name>e-Smart Support</name>
                    <users>
                        <support>
                            <firstname>Suporte</firstname>
                            <lastname>e-Smart</lastname>
                            <email>suporte@e-smart.com.br</email>
                            <username>suporte</username>
                        </support>
                    </users>
                    <resources>
                        <allow>
                            <all/>
                        </allow>
                    </resources>
                </esmart_support>
                <customer_administration>
                    <name>Customer Administration</name>
                    <users>
                        <customer>
                            <firstname>Cliente</firstname>
                            <lastname>Administrativo</lastname>
                            <email>cliente@e-smart.com.br</email>
                            <username>cliente</username>
                        </customer>
                    </users>
                    <resources>
                        <deny>
                            <admin_system_acl>admin/system/acl/*</admin_system_acl>
                            <admin_system_store>admin/system/store</admin_system_store>
                            <admin_system_design>admin/system/design</admin_system_design>
                            <admin_system_config>admin/system/config/*</admin_system_config>
                            <admin_system_tools>admin/system/tools</admin_system_tools>
                            <admin_system_convert>admin/system/convert/*</admin_system_convert>
                            <admin_system_extensions>admin/system/extensions</admin_system_extensions>
                            <admin_system_api>admin/system/api</admin_system_api>
                            <admin_debug>admin/debug</admin_debug>
                            <admin_xmlconnect>admin/xmlconnect</admin_xmlconnect>
                            <admin_page_cache>admin/page_cache</admin_page_cache>
                        </deny>
                    </resources>
                </customer_administration>
            </roles>
        </esmart_setup>
    </default>
</config>
