<?xml version="1.0"?>
<config>
    <modules>
        <RedFeet_Page>
            <version>0.1.0</version>
        </RedFeet_Page>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_header>RedFeet_Page_Block_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
