<?xml version="1.0"?>
<config>
     <modules>
          <RedFeet_Sessioncart>
               <version>0.1.0</version>
          </RedFeet_Sessioncart>
     </modules>
     <global>
          <resources>
               <sessioncart_setup>
                    <setup>
                         <module>RedFeet_Sessioncart</module>
                    </setup>
                    <connection>
                         <use>core_setup</use>
                    </connection>
               </sessioncart_setup>
               <sessioncart_write>
                    <connection>
                         <use>core_write</use>
                    </connection>
               </sessioncart_write>
               <sessioncart_read>
                    <connection>
                         <use>core_read</use>
                    </connection>
               </sessioncart_read>
          </resources>
          <helpers>
		  <sessioncart>
			 <class>RedFeet_Sessioncart_Helper</class>
		  </sessioncart>
	   </helpers>
     </global>
     <frontend>
          <routers>
               <sessioncart>
                    <use>standard</use>
                    <args>
                         <module>RedFeet_Sessioncart</module>
                         <frontName>sessioncart</frontName>
                    </args>
               </sessioncart>
               <checkout>
                    <args>
			 <modules>
			      <RedFeet_Sessioncart before="Enterprise_Checkout">RedFeet_Sessioncart_Checkout</RedFeet_Sessioncart>
			 </modules>
                    </args>
	       </checkout>
          </routers>
	  <layout>
	       <updates>
		   <checkout>
		       <file>checkout.xml</file>
		   </checkout>
	       </updates>
	  </layout>
     </frontend>
</config>