<?xml version="1.0"?>
<config>
    <modules>
        <Esmart_Customer>
            <version>1.11.0.1</version>
        </Esmart_Customer>
    </modules>
    <global>
        <models>
            <esmart_customer>
                <class>Esmart_Customer_Model</class>
                <resourceModel>esmart_customer_resource</resourceModel>
            </esmart_customer>
            <esmart_customer_resource>
                <class>Esmart_Customer_Model_Resource</class>
                <deprecatedNode>esmart_customer_mysql4</deprecatedNode>
                <entities>
                    <sales_order>
                        <table>esmart_customer_sales_flat_order</table>
                    </sales_order>
                    <sales_order_address>
                        <table>esmart_customer_sales_flat_order_address</table>
                    </sales_order_address>
                    <sales_quote>
                        <table>esmart_customer_sales_flat_quote</table>
                    </sales_quote>
                    <sales_quote_address>
                        <table>esmart_customer_sales_flat_quote_address</table>
                    </sales_quote_address>
                </entities>
            </esmart_customer_resource>
        </models>
        <blocks>
            <esmart_customer>
                <class>Esmart_Customer_Block</class>
            </esmart_customer>
        </blocks>
        <helpers>
            <esmart_customer>
                <class>Esmart_Customer_Helper</class>
            </esmart_customer>
        </helpers>
        <resources>
            <esmart_customer_setup>
                <setup>
                    <module>Esmart_Customer</module>
                    <class>Esmart_Customer_Model_Resource_Setup</class>
                </setup>
            </esmart_customer_setup>
        </resources>
        <events>
            <sales_quote_load_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesQuoteAfterLoad</method>
                    </esmart_customer>
                </observers>
            </sales_quote_load_after>
            <sales_quote_address_collection_load_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesQuoteAddressCollectionAfterLoad</method>
                    </esmart_customer>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_quote_save_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesQuoteAfterSave</method>
                    </esmart_customer>
                </observers>
            </sales_quote_save_after>
            <sales_quote_address_save_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesQuoteAddressAfterSave</method>
                    </esmart_customer>
                </observers>
            </sales_quote_address_save_after>
            <sales_order_load_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesOrderAfterLoad</method>
                    </esmart_customer>
                </observers>
            </sales_order_load_after>
            <sales_order_address_collection_load_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesOrderAddressCollectionAfterLoad</method>
                    </esmart_customer>
                </observers>
            </sales_order_address_collection_load_after>
            <sales_order_save_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesOrderAfterSave</method>
                    </esmart_customer>
                </observers>
            </sales_order_save_after>
            <sales_order_address_save_after>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>salesOrderAddressAfterSave</method>
                    </esmart_customer>
                </observers>
            </sales_order_address_save_after>
            <esmart_customer_attribute_before_save>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>esmartCustomerAttributeBeforeSave</method>
                    </esmart_customer>
                </observers>
            </esmart_customer_attribute_before_save>
            <esmart_customer_attribute_save>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>esmartCustomerAttributeSave</method>
                    </esmart_customer>
                </observers>
            </esmart_customer_attribute_save>
            <esmart_customer_attribute_delete>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>esmartCustomerAttributeDelete</method>
                    </esmart_customer>
                </observers>
            </esmart_customer_attribute_delete>
            <esmart_customer_address_attribute_save>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>esmartCustomerAddressAttributeSave</method>
                    </esmart_customer>
                </observers>
            </esmart_customer_address_attribute_save>
            <esmart_customer_address_attribute_delete>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>esmartCustomerAddressAttributeDelete</method>
                    </esmart_customer>
                </observers>
            </esmart_customer_address_attribute_delete>
            <core_copy_fieldset_sales_convert_quote_to_order>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteToOrder</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_quote_address_to_order_address>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteAddressToOrderAddress</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_order_address>
            <core_copy_fieldset_sales_copy_order_to_edit>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderToEdit</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_to_edit>
            <core_copy_fieldset_sales_copy_order_billing_address_to_order>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderBillingAddressToOrder</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_billing_address_to_order>
            <core_copy_fieldset_sales_copy_order_shipping_address_to_order>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderShippingAddressToOrder</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_shipping_address_to_order>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetCustomerAccountToQuote</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetCustomerAddressToQuoteAddress</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>
            <core_copy_fieldset_checkout_onepage_quote_to_customer>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetCheckoutOnepageQuoteToCustomer</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_checkout_onepage_quote_to_customer>
            <core_copy_fieldset_sales_convert_quote_address_to_customer_address>
                <observers>
                    <esmart_customer>
                        <class>esmart_customer/observer</class>
                        <method>coreCopyFieldsetQuoteAddressToCustomerAddress</method>
                    </esmart_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_customer_address>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <esmart_customer>
                    <file>esmart/customer.xml</file>
                </esmart_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Esmart_Customer>
                    <files>
                        <default>Esmart_Customer.csv</default>
                    </files>
                </Esmart_Customer>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <esmart_customer before="Mage_Adminhtml">Esmart_Customer_Adminhtml</esmart_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <esmart_customer module="Esmart_Customer">
                    <file>esmart/customer.xml</file>
                </esmart_customer>
            </updates>
        </layout>
    </frontend>
</config>
